<div data-role="header">
  <h1>ピアノ練習記録</h1>
</div>

<div data-role="content">
<div class="content-primary main-content">
<ul data-role='listview' data-theme='g'>
  <li><%= link_to '記録', new_practice_path %></li>
  <li><%= link_to '閲覧', practices_path %></li>
  <li><%= link_to '曲登録', new_song_path %></li>
  <li><%= link_to '曲閲覧', songs_path %></li>
</ul>
</div>
</div>